@charset "utf-8";
 
/* 转盘 */ 
.rotate {
    width: 100px;
    height:100px;
    background: #333;
    animation: rotate 5s infinite linear;
    -webkit-animation: rotate 5s infinite linear;
}
@-webkit-keyframes rotate{
    from{
        -webkit-transform: rotate(0deg)
    }
    to{-webkit-transform: rotate(360deg)}}
@-moz-keyframes rotate{
    from{-moz-transform: rotate(0deg)}
    to{-moz-transform: rotate(359deg)}}
@-o-keyframes rotate{
    from{-o-transform: rotate(0deg)}
    to{-o-transform: rotate(359deg)}}
@keyframes rotate{
    from{transform: rotate(0deg)}
    to{transform: rotate(359deg)}}
/* 上箭头 */
.arrow {
    width: 100px; height: 20px; background: #333;
    animation: arrow 1.5s infinite ease-in-out;
    -webkit-animation: arrow 1.5s infinite ease-in-out;
} 
@-webkit-keyframes arrow {
    0%,30% {
        opacity: 0;
        -webkit-transform: translate(0,10px);
    }

    60% {
        opacity: .5;
        -webkit-transform: translate(0,0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate(0,-8px);
    }
}

@-moz-keyframes arrow {
    0%,30% {
        opacity: 0;
        -moz-transform: translate(0,10px);
    }

    60% {
        opacity: .5;
        -moz-transform: translate(0,0);
    }

    100% {
        opacity: 0;
        -moz-transform: translate(0,-8px);
    }
}

@keyframes arrow {
    0%,30% {
        opacity: 0;
        transform: translate(0,10px);
    }

    60% {
        opacity: .5;
        transform: translate(0,0);
    }

    100% {
        opacity: 0;
        transform: translate(0,-8px);
    }
}
/*box*/
.box-div {
    width: 301px;
    height: 300px;
    overflow: hidden;
}
.box {
    width: 1926px;
    height: 320px;
    will-change: transform;
    background: url(../images/css_sprites.png) no-repeat -10px -10px;
    animation: frame 500ms steps(6) both infinite;
}
@keyframes frame {
    0% {transform: translate3d(-10px,-10px,0);}
    100% {transform: translate3d(-1926px,-10px,0);}
}

/*box2*/
.box2 {
    width: 301px;
    height: 300px;
    background-repeat: no-repeat;
    background-image: url(../images/css_sprites.png);
    animation: beat 500ms steps(1,end) both infinite;
    /* animation: beat 10s linear both infinite;  */ /*这样的动画不是阶梯的，是位移的效果，不是切换的效果*/
}
@keyframes beat {
    0% {background-position: 0 0;}
    15% {background-position: -10px -10px;}
    30% {background-position: -331px -10px;}
    45% {background-position: -652px -10px;}
    60% {background-position: -973px -10px;}
    75% {background-position: -1294px -10px;}
    100% {background-position: -1615px -10px;}
}